<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @query.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @query.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @query.last_name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @query.telephone %>
</p>

<p>
  <strong>Preffered day:</strong>
  <%= @query.preffered_day %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @query.comments %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
